<!-- Views/ShoppingCart/Index.cshtml -->
@model List<online_store_app.Models.ShoppingCart>

<h1>Shopping Cart</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var cart in Model)
        {
            @foreach (var item in cart.Items)
            {
                <li style="list-style: none; display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <img src="@item.ImageUrl" alt="@item.Name" width="50" height="50">
                        @item.Name - @item.AdjustedPrice
                    </div>
                    <div>
                        <form method="post" asp-action="RemoveFromCart" asp-controller="ShoppingCart" style="display: inline;">
                            <input type="hidden" name="ean" value="@item.EAN" />
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </div>
                </li>
            }
        }
    </ul>
}
else
{
    <p>Your shopping cart is empty.</p>
}
