@model online_store_app.Models.Product

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Category" asp-action="@Model.Category.Name">@Model.Category.Name</a></li>
        <li class="breadcrumb-item fw-bolder active" aria-current="page">Product @Model.EAN</li>
    </ol>
</nav>

<div>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>@Model.Price€</p>
    <p>@Model.EAN</p>
    <p>Quantity: @Model.Quantity</p>
    <img class="card-img-top p-2" src="@Model.ImageUrl" alt="Product Image">
</div>


@if (Model.Reviews != null && Model.Reviews.Any())
{
    <h2>Product Reviews</h2>
    @foreach (var review in Model.Reviews)
    {
        <div class="review-box">
            <p>Rating: @review.Rating Out Of 5</p>
            <p>Title: @review.Title</p>
            <p>Comment: @review.Content</p>
            @* <p>User ID: @review.UserId</p> *@
            <p>Date: @review.CreatedAt</p>
        </div>
    }
}
else
{
    <p>No reviews for this product yet.</p>
}


<!-- Add the review link at the end of the view -->
<a asp-controller="Product" asp-action="Review" asp-route-productId="@Model.Id" asp-route-ean="@Model.EAN">Review this product</a>
