<!-- Views/Product/Details.cshtml -->
@model online_store_app.Models.Product
@{
    ViewData["Title"] = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
               asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
               asp-controller="Category" asp-action="@Model.Category.Name">@Model.Category.Name</a>
        </li>
        <li class="breadcrumb-item fw-bolder active" aria-current="page">Product @Model.EAN</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <!-- Image Section -->
        <div class="col-lg-9 align-items-center d-flex justify-content-center">
            <img src="@Model.ImageUrl" class="" alt="Product Image" style="height:600px;object-fit:contain;">
        </div>
        <!-- Right Side - Details -->
        <div class="col-lg-3">
            <div class="row">
                <!-- Price -->
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-subtitle fs-5">Price vat 24%</p>
                            <h5 class="card-title fs-1 detail-card-title">
                                @{
                                    double adjustedPrice = Model.AdjustedPrice;
                                }
                                @if (Model.IsOnSale)
                                {
                                    <span class="text-danger"><s>@Model.Price</s></span>
                                    <br />
                                    <span class="text-success">@Math.Round(adjustedPrice, 2).ToString("0.00") (On Sale)</span>
                                }
                                else
                                {
                                    <span>@Model.Price</span>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- Shopping Cart -->
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-text">Available in stock: @Model.Quantity</h5>
                            <button type="button" class="btn btn-info">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- Product Code -->
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">EAN:</h5>
                            <p class="card-text">@Model.EAN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Description -->
        <div class="col-lg-12 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Product Description</h5>
                    <p class="card-text fs-4">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Reviews != null && Model.Reviews.Any())
    {
        <div class="col-lg-12 mb-3">
            <h2>Product Reviews</h2>
            @foreach (var review in Model.Reviews)
            {
                <div class="review-box">
                    <p>Rating: @review.Rating Out Of 5</p>
                    <p>Title: @review.Title</p>
                    <p>Comment: @review.Content</p>
                    @* <p>User ID: @review.UserId</p> *@
                    <p>Date: @review.CreatedAt</p>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-lg-12 mb-3">
            <p>No reviews for this product yet.</p>
        </div>
    }

    <!-- Add the review link at the end of the view -->
    <div class="col-lg-12 mb-3">
        <a asp-controller="Product" asp-action="Review" asp-route-productId="@Model.Id" asp-route-ean="@Model.EAN">Review this product</a>
    </div>
</div>
