@model online_store_app.Models.Product
@{
    ViewData["Title"] = Model.Name;
}

<script>
    function addToCart(Id) {
        // Check if the cart exists in local storage
        let cart = localStorage.getItem('cart');
        cart = cart ? JSON.parse(cart) : [];

        // Add the selected product ID to the cart
        cart.push(Id);

        // Update the cart in local storage
        localStorage.setItem('cart', JSON.stringify(cart));
    }
</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" 
            asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" 
            asp-controller="Category" asp-action="@Model.Category.Name">@Model.Category.Name</a></li>
        <li class="breadcrumb-item fw-bolder active" aria-current="page">Product @Model.EAN</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <!-- Product Title -->
        <div class="col-lg-12">
            <div class="h-100">
                <p class="mb-0">@Model.Name</p>
            </div>
        </div>
        <!-- Image Section -->
        <div class="col-lg-9 align-items-center d-flex justify-content-center">
            <img src="@Model.ImageUrl" class="h-100 img-fluid" alt="Product Image" style="object-fit:contain;">
        </div>
        <!-- Right Side - Details -->
        <div class="col-lg-3">
            <div class="row">
                <!-- Price -->
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-subtitle fs-5">Price vat 24%</p>
                            <h5 class="card-title fs-1 detail-card-title">@Model.Price€</h5>
                        </div>
                    </div>
                </div>
                <!-- Shopping Cart -->
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="card-text">Warehouse availability: @Model.Quantity</h6>
                            <button type="button" onclick="addToCart('@Model.Id')" class="btn btn-info">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- Product Code -->
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">EAN:</h5>
                            <p class="card-text">@Model.EAN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Description -->
        <div class="col-lg-12 mb-3">
            <div class="h-100 mt-3">
                <p class="card-title fs-4">@Model.Description</p>
            </div>
        </div>
    </div>
</div>

@if (Model.Reviews != null && Model.Reviews.Any())
{
    <h2>Product Reviews</h2>
    @foreach (var review in Model.Reviews)
    {
        <div class="review-box">
            <p>Rating: @review.Rating Out Of 5</p>
            <p>Title: @review.Title</p>
            <p>Comment: @review.Content</p>
            @* <p>User ID: @review.UserId</p> *@
            <p>Date: @review.CreatedAt</p>
        </div>
    }
}
else
{
    <p>No reviews for this product yet.</p>
}

<!-- Add the review link at the end of the view -->
<a asp-controller="Product" asp-action="Review" asp-route-productId="@Model.Id" asp-route-ean="@Model.EAN">Review this product</a>
